/* 768px-481px */
@media (max-with: 481px) {
  .conteiner {
    padding: 32px 20px;
  }
  h2 {
    margin-bottom: 40px;
  }
  input {
    width: 100%;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    margin-bottom: 0px;
  }
  iframe {
    height: 200px;
  }
}
